<%- include("partials/header.ejs") %>
    <div class="content-container">
        <div class="number-of-message">
            <div class="number-items">
                <div class="number">
                    <div class="number-heading">Message</div>
                    <div class="total-number">12</div>
                </div>
                <div class="number-item-image"><img src="./images/contacts-svgrepo-com.svg" alt="contacts-svgrepo-com">
                </div>
            </div>
            <div class="number-items">
                <div class="number">
                    <div class="number-heading">New Student</div>
                    <div class="total-number">19</div>
                </div>
                <div class="number-item-image"><img src="./images/college-svgrepo-com.svg" alt="college-svgrepo-com">
                </div>
            </div>
            <div class="number-items">
                <div class="number">
                    <div class="number-heading">Testimonial</div>
                    <div class="total-number">3</div>
                </div>
                <div class="number-item-image"><img src="./images/customer-testimonial-svgrepo-com.svg"
                        alt="customer-testimonial-svgrepo-com"></div>
            </div>
        </div>
        <h1>Welcome to your Dashboard</h1>
        <div class="chart">
            <canvas id="myChart"></canvas>
            <canvas id="student-class"></canvas>
        </div>
        <div class="chart">
            <canvas id="new-student"></canvas>
        </div>
    </div>
    </div>
    </div>
    </div>
    <%- include("partials/footer.ejs") %>