<%- include("partials/header.ejs") %>
    <link rel="stylesheet" href="./stylesheet/message.css">
    <div class="content-container">
        <h1>Messages</h1>
        <div class="message">
            <div class="message-title">Areo Ayomide</div>
            <div class="messsage-word">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio quos sed iure quasi quia
                magnam alias nihil corporis nulla repellendus aliquid, error tenetur perferendis saepe, ipsa
                assumenda obcaecati voluptatum iusto.
            </div>
            <div class="message-action">
                <a
                    href="mailto:areoayomide2008@gmail.com?subject=Reply%20To%20Your%20Message&body=Hello,%0AAreo%20Ayomide%20Philip%20is%20a%20pre-filled%20message.">Reply</a>
                <a href="#">Delete</a>
            </div>
        </div>
        <div class="message">
            <div class="message-title">Areo Ayomide</div>
            <div class="messsage-word">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio quos sed iure quasi quia
                magnam alias nihil corporis nulla repellendus aliquid, error tenetur perferendis saepe, ipsa
                assumenda obcaecati voluptatum iusto.
            </div>
            <div class="message-action">
                <a
                    href="mailto:areoayomide2008@gmail.com?subject=Reply%20To%20Your%20Message&body=Hello,%0AAreo%20Ayomide%20Philip%20is%20a%20pre-filled%20message.">Reply</a>
                <a href="#">Delete</a>
            </div>
        </div>
        <div class="message">
            <div class="message-title">Areo Ayomide</div>
            <div class="messsage-word">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio quos sed iure quasi quia
                magnam alias nihil corporis nulla repellendus aliquid, error tenetur perferendis saepe, ipsa
                assumenda obcaecati voluptatum iusto.
            </div>
            <div class="message-action">
                <a
                    href="mailto:areoayomide2008@gmail.com?subject=Reply%20To%20Your%20Message&body=Hello,%0AAreo Ayomide Philip%20is%20a%20pre-filled%20message.">Reply</a>
                <a href="#">Delete</a>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    <script src="./script/message.js"></script>
    <%- include("partials/footer.ejs") %>