<%- include("partials/header.ejs") %>
    <link rel="stylesheet" href="./stylesheet/princiapl-officer.css">
    <div class="content-container">
        <div class="principal-officer">
            <div class="principal-officer-name">Lorem, ipsum dolor.</div>
            <div class="principal-officer-position">Lorem.</div>
            <div class="principal-officer-message">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Blanditiis officia, id quis reprehenderit maxime consectetur aut reiciendis laudantium
                voluptatem ducimus deleniti ipsa deserunt. Ratione odit iste, laudantium fuga quibusdam
                architecto.</div>
            <div class="principal-officer-social-media">
                <div class="facebook"> <a href="#"><img src="./images/facebook-svgrepo-com.svg"
                            alt="facebook-svgrepo-com"></a>
                </div>
                <div class="instagram"> <a href="#"><img src="./images/instagram-svgrepo-com.svg"
                            alt="instagram-svgrepo-com"></a>
                </div>
                <div class="twitter"> <a href="#"><img src="./images/twitter-round-svgrepo-com.svg"
                            alt="twitter-svgrepo-com"></a>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>

    <%- include("partials/footer.ejs") %>