<%- include("partials/header.ejs") %>
                <link rel="stylesheet" href="./stylesheet/testimonial.css">
                <div class="content-container">
                    <div class="testimonial-grid">
                        <div class="testimonial-item">
                            <div class="testimonial-name">Areo Ayomide</div>
                            <div class="testimonial-message">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde
                                    non ducimus neque adipisci
                                    illum placeat fugit reprehenderit sed quod dolor dolorum earum, harum aliquid a
                                    obcaecati
                                    saepe, voluptate natus inventore commodi iusto. Quisquam eum asperiores inventore
                                    suscipit
                                    illo voluptatem doloribus nobis facere. Rerum quos illo officia doloremque, sit
                                    voluptatum
                                    aliquid?</p>
                            </div>
                            <div class="type">Parent</div>
                            <div class="button">
                                <a href="#">Edit</a>
                                <a href="#">Delete</a>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-name">Areo Ayomide</div>
                            <div class="testimonial-message">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde
                                    non ducimus neque adipisci
                                    illum placeat fugit reprehenderit sed quod dolor dolorum earum, harum aliquid a
                                    obcaecati
                                    saepe, voluptate natus inventore commodi iusto. Quisquam eum asperiores inventore
                                    suscipit
                                    illo voluptatem doloribus nobis facere. Rerum quos illo officia doloremque, sit
                                    voluptatum
                                    aliquid?</p>
                            </div>
                            <div class="type">Student</div>
                            <div class="button">
                                <a href="#">Edit</a>
                                <a href="#">Delete</a>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-name">Areo Ayomide</div>
                            <div class="testimonial-message">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde
                                    non ducimus neque adipisci
                                    illum placeat fugit reprehenderit sed quod dolor dolorum earum, harum aliquid a
                                    obcaecati
                                    saepe, voluptate natus inventore commodi iusto. Quisquam eum asperiores inventore
                                    suscipit
                                    illo voluptatem doloribus nobis facere. Rerum quos illo officia doloremque, sit
                                    voluptatum
                                    aliquid?</p>
                            </div>
                            <div class="type">Parent</div>
                            <div class="button">
                                <a href="#">Edit</a>
                                <a href="#">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="./script/testimonial.js"></script>
        <%- include("partials/footer.ejs") %>